:root {
    --primary: #FFE600;
    --secudary: #3483FA;
    --background: #EEEEEE;
    --text:#333333;
    --dark: #666666;
    --white: #FFFFFF;
}

$primary: var(--primary);
$secudary: var(--secudary);
$background: var(--background);
$text: var(--text);
$dark: var(--dark);
$white: var(--white);